Package: samm-pysamana
Version: %VERSION%
Maintainer: Samana <info@samanagroup.com>
Depends: samm-pysammwr
Conflicts: 
Architecture: amd64
Homepage: https://www.samanagroup.com
Description: SAMM libraries. Samana Advanced Monitoring and Management
